{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%static 'qrCode/style.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>QR Code Maker</title>
       
    </head>
    <body>
        <br>
        <br>

       
        <form action="{% url 'qrCode:generateQR' %}" method="POST">
            <h2> QR CODE Generator</h2>
            <p> Enter your url below to get started.</p>
            {% csrf_token %}
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">URL: </span>
            <input type="text" class="form-control" name="urlInput"id="urlInput" placeholder="Paste your URL here!"  aria-describedby="addon-wrapping" required>
        </div>
        <br>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Name: </span>
           <input type="text" class="form-control" name="nameInput"id="nameInput" placeholder="Enter a name for your QR CODE file here! "  aria-describedby="addon-wrapping">
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg" >Generate</button>
        </form>
        <br>

    </body>
</html>