body{
    background-size: cover; background-attachment: fixed;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #3bde00 0%, #ffd000 100%);
}

*{
    text-align: center;
    font-family: comic sans ms;
}

#screenBlock{
    background-color: rgba(38, 36, 36, 0.5);
     width:80%;
     margin:auto;
     padding:10%;
     border-radius: 6px;
 
}